body{
    background-image:url(../background.png); 
    background-size:cover;
    background-attachment: fixed;
}

/*Index.html*/

.my-pic{
    display: block;
    width: 35%;
    float:left;
    margin-right: 2%;
}
.intro1{
    display: block;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}
.name{
    display: block;
    margin: 0 auto 0 auto;
   font-family: 'The Nautigal', cursive;
   color: brown;
}
.p1{
    margin: 0 auto 0 auto;
    font-size: small;
}
.about-pic{
    margin-top: 2.5%;
    margin-left: 7.5%;
    width: 8%;
    border-radius: 50%;
    background-color: cornflowerblue;
    display: block;
}
.about-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed062, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed068, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed07d, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.about-txt{
    display: block;
    font-size: 120%;
    color: firebrick;
    margin-top: 0%;
    margin-left: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.contact-pic{
    width: 8%;
    display: block;
    margin-left: 10%;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.contact-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.contact-txt{
    display: block;
    font-size: 120%;
    color: firebrick;
    margin-left: 11%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.topics-pic{
    width: 8%;
    display: block;
    margin-left: 22%;
    margin-top: -3%;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.topics-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed062, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed068, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed07d, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.topics-txt{
    display: block;
    font-size: 120%;
    color: firebrick;
    margin-left: 23.5%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.procedures-pic{
    width: 8%;
    display: block;
    margin-left: 37%;
    margin-top: -11.5%;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.procedures-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed062, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed068, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed07d, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.procedures-txt{
    display: block;
    font-size: 120%;
    color: firebrick;
    margin-left: 37%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.clinical-pic{
    width: 8%;
    display: block;
    margin-left: 48%;
    margin-top: -20%;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.clinical-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed062, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed068, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed07d, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.clinical-txt{
    display: block;
    font-size: 120%;
    color: firebrick;
    margin-left: 47%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.radio-pic{
    display: block;
    width: 13%;
    height: 15%;
    margin-top: -22%;
    margin-left: 52%;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.radio-pic:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1ed04a, #3D94F6);
    background-image: -moz-linear-gradient(top, #1ed062, #3D94F6);
    background-image: -ms-linear-gradient(top, #1ed068, #3D94F6);
    background-image: -o-linear-gradient(top, #1ed07d, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1ed04a, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
.radio-txt{
    font-size: 120%;
    color: firebrick;
    display: block;
    margin-left: 54%;
    margin-top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
}
.EM-pic{
    width: 30%;
    display: block;
    margin-left: 19%;
    margin-top: -12%;
    border-radius: 100%;
}

/* Contact.html */
.send-butt:hover {
    border: solid #0ddd0d 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #d01e45, #3D94F6);
    background-image: -moz-linear-gradient(top, #d01e45, #3D94F6);
    background-image: -ms-linear-gradient(top, #d01e45, #3D94F6);
    background-image: -o-linear-gradient(top, #d01e45, #3D94F6);
    background-image: -webkit-gradient(to bottom, #d01e45, #3D94F6);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    text-decoration: none;
 }
 a{
    text-decoration-line: none;
 }
 a:hover{
     color: rgb(160, 110, 110);
 }
 .phone{
     padding: 5px;
 }

 /* about me */
 hr{
     width: 10%;
     border-style: dotted;
     border-bottom-width: 0px;
     border-top-width: 5px;
     margin-top: 50px;
     color: cadetblue;
 }
  .about-me1{
      width: 100px;
      margin-top: 0px;
      border-color: tomato;
      border-width: 1px;
      border-radius: 75%;
      border-style: solid;
      float: left;
  }
  .about-me1:hover{
    border-color: rgb(0, 255, 34);
    padding: 5px;
    border-width: 5px;
  }
  .intro{
      color: black;
      background-color: rgb(244, 246, 247);
      width: 70%;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 2%;
      padding-right: 0.5%;
      margin-left: 4%;
      margin-top: 4%;
      border-style: dotted;
      border-color: lightcoral;
      border-radius: 10%;
  }
  .edu-pic{
    width: 100px;
    margin-right: 35%;
    margin-top: 50px;
    border-color: tomato;
    border-width: 1px;
    border-radius: 75%;
    border-style: solid;
    float: right;
  }
  .edu-pic:hover{
    border-color: rgb(0, 255, 34);
    padding: 5px;
    border-width: 5px;
  }
  .edu-txt{
    color: black;
    background-color: rgb(244, 246, 247);
    width: 50%;
    margin: 4% 0px 0px 10%;
    padding-left: 1%;
    border-style: dotted;
    border-color: lightcoral;
    border-radius: 10%;
    text-align: justify;
  }
.exp-pic{
    width: 150px;
    margin: 45px auto 0px auto;
    border-color: tomato;
    border-width: 1px;
    border-radius: 75%;
    border-style: solid;
    float: left;
}
.exp-pic:hover{
    border-color: rgb(0, 255, 34);
    padding: 5px;
    border-width: 5px;
}
.job-txt{
    color: black;
    background-color: rgb(244, 246, 247);
    width: 50%;
    margin: 3% 0px 0px 7%;
    padding-left: 5%;
    padding-right: 1%;
    border-style: dotted;
    border-color: lightcoral;
    border-radius: 10%;
    text-align: justify;
}
.skill-pic{
    width: 24%;
    margin-right: 30%;
    margin-top: 11%;
    border-color: tomato;
    border-width: 1px;
    border-radius: 75%;
    border-style: solid;
    float: right;
}
.skill-pic:hover{
    border-color: rgb(0, 255, 34);
    padding: 5px;
    border-width: 5px;
}
.skill-txt{
    color: black;
    background-color: rgb(244, 246, 247);
    width: 55%;
    margin: 5% 0px 0px 1%;
    padding-left:3%;
    border-style: dotted;
    border-color: lightcoral;
    border-radius: 10%;
    text-align: justify;
}